.filterContainer {
  display: flex;
  justify-content: center;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  text-align: center;
}

.filterButton {
  background: rgb(213, 211, 211);
  width: 100px;
  height: 25px;
  border-radius: 5px;
  align-self: flex-end;
}
